<md-card *ngIf="book">
  <md-card-title-group>
    <md-card-title>{{ book.title }}</md-card-title>
    <md-card-subtitle>By: {{book.author}}</md-card-subtitle>
    <img md-card-sm-image [src]="book.thumbnailUrl" />
  </md-card-title-group>
  <md-card-content>
    <p [innerHtml]="book.description"></p>
  </md-card-content>
  <md-card-actions align="start">
    <button md-raised-button color="warn" *ngIf="book.isFavorited">
        Remove Book from Collection
    </button>

    <button md-raised-button color="primary" *ngIf="!book.isFavorited">
        Add Book to Collection
    </button>
  </md-card-actions>
</md-card>